In [1]:
#Dependencies and Setup
import pandas as pd

#Files to Load
school_data = "Resources/schools_complete.csv"
students_data = "Resources/students_complete.csv"

#Read School and Student Data File, store into Panda DataFrames
school_df = pd.read_csv(school_data)
students_df = pd.read_csv(students_data)

#Combine the data into a single dataset
school_complete = pd.merge(students_df, school_df, how="left", on=["school_name", "school_name"])

In [2]:
#Calculate the total number of schools
total_schools = len(school_complete["school_name"].unique())

#Calulate the total number of students
total_students = school_df["size"].sum()

#Calculate the total budget
total_budgets = school_df["budget"].sum()

#Calculate the average math score
avg_math = school_complete["math_score"].mean()

#Calculate the average reading score
avg_read = school_complete["reading_score"].mean()

#Calculate the percentage of students with a passing math score
passing_math_df = school_complete.loc[school_complete["math_score"]>69, :]
math_count = len(passing_math_df)
percent_passmath = (math_count/total_students)*100

#Calculate the percentage of students with a passing reading score
passing_read_df = school_complete.loc[school_complete["reading_score"]>69, :]
read_count = len(passing_read_df)
percent_passread = (read_count/total_students)*100

#Calculate the percentage of students who passed math and reading
passing_overall_df = pd.merge(passing_math_df, passing_read_df, on="Student ID")
overall_count = len(passing_overall_df)
percent_overall = (overall_count/total_students)*100

#Create a dataframe to hold the above results
district_summ_df = pd.DataFrame({"Total Schools":[total_schools], "Total Students":[total_students], "Total Budget":[total_budgets], "Average Math Score":[avg_math], "Average Reading Score":[avg_read], "% Passing Math":[percent_passmath], "% Passing Reading":[percent_passmath], "% Overall Passing":[percent_overall]})

#Format Total Students to have commas, Total Budget to have $, commas, and two decimal places
district_summ_df.style.format({"Total Students": "{:,}", "Total Budget": "${:,.2f}"})

In [3]:
#Using GroupBy in order to separate the data into fields according to "school_name" values
grouped_school_complete = school_complete.groupby(["school_name"])

#School type for each school, searching groupby object for every element of the series that appears only once
school_type = grouped_school_complete["type"].unique()

#Total Students counted for each school, counting unique values in a column
school_students = school_complete["school_name"].value_counts()

#Total School Budget for each school
school_tot_budget = grouped_school_complete["budget"].unique()

#Per Student Budget for each school
school_stu_budget = school_tot_budget/school_students

#Average math and reading score for each school
school_math = grouped_school_complete["math_score"].mean()
school_read = grouped_school_complete["reading_score"].mean()

#Calculate % passing math for each school
grouped_passing_math = passing_math_df.groupby(["school_name"])
school_pass_math = grouped_passing_math["Student ID"].count()
school_percent_math = (school_pass_math/school_students)*100

#Calculate % passing reading for each school
grouped_passing_read = passing_read_df.groupby(["school_name"])
school_pass_read = grouped_passing_read["Student ID"].count()
school_percent_read = (school_pass_read/school_students)*100

#Calculate % passing math and reading for each school
grouped_passing_overall = passing_overall_df.groupby(["school_name_x"])
school_pass_overall = grouped_passing_overall["Student ID"].count()
school_percent_overall = (school_pass_overall/school_students)*100

#Create a dataframe to hold the above results
school_summ_df = pd.DataFrame({"School Type": school_type, "Total Students": school_students, "Total School Budget": school_tot_budget, "Per Student Budget": school_stu_budget, "Average Math Score": school_math, "Average Reading Score": school_read, "% Passing Math": school_percent_math, "% Passing Reading": school_percent_read, "% Overall Passing": school_percent_overall})

#Cleanup for dtypes and [] around "School Type" elements
school_summ_df["Total School Budget"] = school_summ_df["Total School Budget"].astype(float)
school_summ_df["Per Student Budget"] = school_summ_df["Per Student Budget"].astype(float)
school_summ_df["School Type"] = school_summ_df["School Type"].str[0]

#Format Total Sschool Budget & Per Student Budget to have $, commas, and two decimal places
school_summ_df.style.format({"Total School Budget": "${:,.2f}", "Per Student Budget": "${:,.2f}"})

In [4]:
#sort and display dataframe from highest to lowest based on the "% Overall Passing" with formatting
top_school_df = school_summ_df.sort_values("% Overall Passing", ascending=False)
top_school_df.head().style.format({"Total School Budget": "${:,.2f}", "Per Student Budget": "${:,.2f}"})

In [5]:
#sort and display dataframe from lowest to highest based on the "% Overall Passing" with formatting
bot_school_df = school_summ_df.sort_values("% Overall Passing")
bot_school_df.head().style.format({"Total School Budget": "${:,.2f}", "Per Student Budget": "${:,.2f}"})

In [6]:
#list the different grades to place in new dataframe
school_complete["grade"].unique()

array(['9th', '12th', '11th', '10th'], dtype=object)

In [7]:
#filter single dataset so only 9th grade information is in new dataframe
ninth_math_df = school_complete.loc[school_complete["grade"] == "9th", :]
#separate 9th grade data into fields according to "school_name"
grouped_ninth_math = ninth_math_df.groupby(["school_name"])
#calculate average 9th grade math score for each school
ninth_avg_math = grouped_ninth_math["math_score"].mean()

#repeat above steps for 10th, 11th, and 12th grade
tenth_math_df = school_complete.loc[school_complete["grade"] == "10th", :]
grouped_tenth_math = tenth_math_df.groupby(["school_name"])
tenth_avg_math = grouped_tenth_math["math_score"].mean()
eleventh_math_df = school_complete.loc[school_complete["grade"] == "11th", :]
grouped_eleventh_math = eleventh_math_df.groupby(["school_name"])
eleventh_avg_math = grouped_eleventh_math["math_score"].mean()
twelfth_math_df = school_complete.loc[school_complete["grade"] == "12th", :]
grouped_twelfth_math = twelfth_math_df.groupby(["school_name"])
twelfth_avg_math = grouped_twelfth_math["math_score"].mean()

#combine into a dataframe to show math scores by grade
math_by_grade_df = pd.DataFrame({"9th": ninth_avg_math, "10th": tenth_avg_math, "11th": eleventh_avg_math, "12th": twelfth_avg_math})
#remove header for index column
math_by_grade_df.rename_axis(None, inplace=True)
math_by_grade_df

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [8]:
#Same operations as above for reading scores by grade
ninth_read_df = school_complete.loc[school_complete["grade"] == "9th", :]
grouped_ninth_read = ninth_read_df.groupby(["school_name"])
ninth_avg_read = grouped_ninth_read["reading_score"].mean()
tenth_read_df = school_complete.loc[school_complete["grade"] == "10th", :]
grouped_tenth_read = tenth_read_df.groupby(["school_name"])
tenth_avg_read = grouped_tenth_read["reading_score"].mean()
eleventh_read_df = school_complete.loc[school_complete["grade"] == "11th", :]
grouped_eleventh_read = eleventh_read_df.groupby(["school_name"])
eleventh_avg_read = grouped_eleventh_read["reading_score"].mean()
twelfth_read_df = school_complete.loc[school_complete["grade"] == "12th", :]
grouped_twelfth_read = twelfth_read_df.groupby(["school_name"])
twelfth_avg_read = grouped_twelfth_read["reading_score"].mean()
read_by_grade_df = pd.DataFrame({"9th": ninth_avg_read, "10th": tenth_avg_read, "11th": eleventh_avg_read, "12th": twelfth_avg_read})
read_by_grade_df.rename_axis(None, inplace=True)
read_by_grade_df

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [9]:
#create bins to hold spending per student data
bins_spend = [0, 584, 629, 644, 675]
#create names for the four school spending bins
labels_spend = ["<$584", "$585-629", "$630-644", "$645-675"]

#create a new column in dataframe with the labels for each bin "Per Student Budget" is categorized into, then group by spending ranges
school_summ_df["Spending Ranges (Per Student)"] = pd.cut(school_summ_df["Per Student Budget"], bins_spend, labels=labels_spend)
grouped_spend_school = school_summ_df.groupby("Spending Ranges (Per Student)")

#calculate and store average math and reading score, and % passing math, reading, and overall
spend_avg_math = round(grouped_spend_school["Average Math Score"].mean(), 2)
spend_avg_read = round(grouped_spend_school["Average Reading Score"].mean(), 2)
spend_percent_math = round(grouped_spend_school["% Passing Math"].mean(), 2)
spend_percent_read = round(grouped_spend_school["% Passing Reading"].mean(), 2)
spend_percent_over = round(grouped_spend_school["% Overall Passing"].mean(), 2)

#combine the series into a dataframe
scores_by_spend_df = pd.DataFrame({"Average Math Score": spend_avg_math, "Average Reading Score": spend_avg_read, "% Passing Math": spend_percent_math, "% Passing Reading": spend_percent_read, "% Overall Passing": spend_percent_over})
scores_by_spend_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$584,83.46,83.93,93.46,96.61,90.37
$585-629,81.90,83.16,87.13,92.72,81.42
$630-644,78.52,81.62,73.48,84.39,62.86
$645-675,77.00,81.03,66.16,81.13,53.53

In [10]:
#Same operations as above, based on school size
bins_size = [0, 999, 1999, 5000]
labels_size = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

school_summ_df["School Size"] = pd.cut(school_summ_df["Total Students"], bins_size, labels=labels_size)
grouped_size_school = school_summ_df.groupby("School Size")

size_avg_math = grouped_size_school["Average Math Score"].mean()
size_avg_read = grouped_size_school["Average Reading Score"].mean()
size_percent_math = grouped_size_school["% Passing Math"].mean()
size_percent_read = grouped_size_school["% Passing Reading"].mean()
size_percent_over = grouped_size_school["% Overall Passing"].mean()

scores_by_size_df = pd.DataFrame({"Average Math Score": size_avg_math, "Average Reading Score": size_avg_read, "% Passing Math": size_percent_math, "% Passing Reading": size_percent_read, "% Overall Passing": size_percent_over})
scores_by_size_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

In [11]:
#Same operations as above, but without the need to create bins
grouped_type_school = school_summ_df.groupby("School Type")

type_avg_math = grouped_type_school["Average Math Score"].mean()
type_avg_read = grouped_type_school["Average Reading Score"].mean()
type_percent_math = grouped_type_school["% Passing Math"].mean()
type_percent_read = grouped_type_school["% Passing Reading"].mean()
type_percent_over = grouped_type_school["% Overall Passing"].mean()

scores_by_type_df = pd.DataFrame({"Average Math Score": type_avg_math, "Average Reading Score": type_avg_read, "% Passing Math": type_percent_math, "% Passing Reading": type_percent_read, "% Overall Passing": type_percent_over})
scores_by_type_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208