In [1]:
#Dependencies and Setup
import pandas as pd

#Files to Load
school_data = "Resources/schools_complete.csv"
students_data = "Resources/students_complete.csv"

#Read School and Student Data File, store into Panda DataFrames
school_df = pd.read_csv(school_data)
students_df = pd.read_csv(students_data)

#Combine the data into a single dataset
school_complete = pd.merge(students_df, school_df, how="left", on=["school_name", "school_name"])

In [2]:
#Calculate the total number of schools
total_schools = len(school_complete["school_name"].unique())

#Calulate the total number of students
total_students = school_df["size"].sum()

#Calculate the total budget
total_budgets = school_df["budget"].sum()

#Calculate the average math score
avg_math = school_complete["math_score"].mean()

#Calculate the average reading score
avg_read = school_complete["reading_score"].mean()

#Calculate the percentage of students with a passing math score
passing_math_df = school_complete.loc[school_complete["math_score"]>69, :]
math_count = len(passing_math_df)
percent_passmath = (math_count/total_students)*100

#Calculate the percentage of students with a passing reading score
passing_read_df = school_complete.loc[school_complete["reading_score"]>69, :]
read_count = len(passing_read_df)
percent_passread = (read_count/total_students)*100

#Calculate the percentage of students who passed math and reading
passing_overall_df = pd.merge(passing_math_df, passing_read_df, on="Student ID")
overall_count = len(passing_overall_df)
percent_overall = (overall_count/total_students)*100

#Create a dataframe to hold the above results
district_summ_df = pd.DataFrame({"Total Schools":[total_schools], "Total Students":[total_students], "Total Budget":[total_budgets], "Average Math Score":[avg_math], "Average Reading Score":[avg_read], "% Passing Math":[percent_passmath], "% Passing Reading":[percent_passmath], "% Overall Passing":[percent_overall]})
district_summ_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,74.980853,65.172326

In [3]:
#Using GroupBy in order to separate the data into fields according to "school_name" values
grouped_school_complete = school_complete.groupby(["school_name"])

school_type = grouped_school_complete["type"].unique()

school_students = school_complete["school_name"].value_counts()

school_tot_budget = grouped_school_complete["budget"].unique()

school_stu_budget = school_tot_budget/school_students

school_math = grouped_school_complete["math_score"].mean()
school_read = grouped_school_complete["reading_score"].mean()

grouped_passing_math = passing_math_df.groupby(["school_name"])
school_pass_math = grouped_passing_math["Student ID"].count()
school_percent_math = (school_pass_math/school_students)*100

grouped_passing_read = passing_read_df.groupby(["school_name"])
school_pass_read = grouped_passing_read["Student ID"].count()
school_percent_read = (school_pass_read/school_students)*100

grouped_passing_overall = passing_overall_df.groupby(["school_name_x"])
school_pass_overall = grouped_passing_overall["Student ID"].count()
school_percent_overall = (school_pass_overall/school_students)*100

school_summ_df = pd.DataFrame({"School Type": school_type, "Total Students": school_students, "Total School Budget": school_tot_budget, "Per Student Budget": school_stu_budget, "Average Math Score": school_math, "Average Reading Score": school_read, "% Passing Math": school_percent_math, "% Passing Reading": school_percent_read, "% Overall Passing": school_percent_overall})
school_summ_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,[District],4976,[3124928],[628.0],77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,[Charter],1858,[1081356],[582.0],83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,[District],2949,[1884411],[639.0],76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,[District],2739,[1763916],[644.0],77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,[Charter],1468,[917500],[625.0],83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,[District],4635,[3022020],[652.0],77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,[Charter],427,[248087],[581.0],83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,[District],2917,[1910635],[655.0],76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,[District],4761,[3094650],[650.0],77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,[Charter],962,[585858],[609.0],83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,[District],3999,[2547363],[637.0],76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,[Charter],1761,[1056600],[600.0],83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,[Charter],1635,[1043130],[638.0],83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,[Charter],2283,[1319574],[578.0],83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,[Charter],1800,[1049400],[583.0],83.682222,83.955000,93.333333,96.611111,90.333333